<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Is It Worth It?</title>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <style>
        .jumbotron h1 {
            font-size: 90px;
        }
        .jumbotron p {
            font-size: 36px;
        }
        body {
            font-size: 21px;
        }
        h2 {
            margin-top: 80px;
        }
        .answer {
            font-size: 90px;
        }
        .yes {
            color: green;
        }
        .no {
            color: red;
        }
    </style>
</head>

<body>
<div data-ng-app>
    <div data-ng-controller="TestCtrl">
        <div class="jumbotron">
            <div class="container">
                <h1>Is It Worth It?</h1>
                <p>Based on one of my favorite XKCD comics, <a href="http://xkcd.com/1205/" target="_blank">xkcd.com/1205</a>,
                    this page will help you calculate if a project is really worth doing.</p>
            </div>
        </div>
        <p align="center"><label>
            How long will the project take, in days?<br>
            <input type="number" data-ng-model="projectDays">
        </label></p>
        <p align="center"><label>
            How long does the manual task take, in hours?<br>
            <input type="number" data-ng-model="taskHours">
        </label></p>
        <p align="center"><label>
            How many times per day is the manual task done?<br>
            <input type="number" data-ng-model="taskFrequency">
        </label></p>

        <h2 align="center">So, is it worth it?</h2>
        <div ng-show="!showAnswer()" class="answer">
            <p align="center">?</p>
        </div>
        <div ng-show="showAnswer()">
            <div ng-show="isItWorthIt()" class="answer yes">
                <p align="center">YES</p>
            </div>
            <div ng-show="!isItWorthIt()" class="answer no">
                <p align="center">NO</p>
            </div>
        </div>
    </div>
</div>

<script>
    function TestCtrl($scope) {
        debugger;

        $scope.showAnswer = function () {
            return $scope.projectDays > 0 && $scope.taskHours > 0 && $scope.taskFrequency > 0;
        };

        $scope.isItWorthIt = function () {
            var hoursPerDay = $scope.taskHours * $scope.taskFrequency;
            var hoursPerYear = hoursPerDay * 365;
            var hoursPerFiveYears = hoursPerYear * 5;
            var projectHours = $scope.projectDays * 24;
            return projectHours < hoursPerFiveYears;
        };
    }
</script>

</body>

</html>

